pip==23.2.1
setuptools==68.0.0
pdbpp==0.10.3
torch==2.0.1
torchvision==0.15.2
pyro-ppl==1.8.5
pandas==2.0.3
scipy==1.10.1
trackpy==0.6.1
tifffile==2023.7.18

imagecodecs==2023.7.10
cucim==23.4.1
cupy-cuda11x==12.1.0
dask-image==2023.3.0
aicsimageio==4.11.0
fire==0.5.0
ome-zarr==0.8.0
openpyxl==3.1.2

starfish==0.2.2
scikit-image==0.22.0
spotiflow==0.2.0
