pip
setuptools
pdbpp
jupyter
matplotlib
torch
torchvision
pyro-ppl
jupyter_http_over_ws
pandas
scipy
trackpy
tifffile
scikit-image
starfish

imagecodecs
cucim
cupy-cuda110
dask-image
zarr
aicsimageio
fire
ome-zarr
numba
