pip
setuptools
pdbpp
jupyter
matplotlib
torch
torchvision
pyro-ppl
jupyter_http_over_ws
pandas
scipy
trackpy
tifffile
scikit-image>=0.16
starfish

imagecodecs
cucim
cupy-cuda11x
dask-image
zarr
aicsimageio
fire
ome-zarr
numba
