cleanup = true

params {
  /*out_dir = './output'*/
  report_dir = './reports'
}

profiles {

  withLabel: "huge_mem" {
    memory="600 GB"
  }

  withLabel: 'large_mem' {
    memory="320 GB"
  }

  local {
    includeConfig 'conf/local.config'
    process.executor = 'local'
  }

  lsf {
    includeConfig 'conf/lsf.config'
    process.queue = 'imaging'
  }

  tower {
    accessToken = '[Your-token]'
    endpoint = 'http://nf-tower.cellgeni.sanger.ac.uk/api'
    enabled = false
  }
}

timeline {
  enabled = false
  file = "${params.report_dir}/timeline.html"
}


trace {
    enabled = false
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}
