//process.container = "/nfs/team283_imaging/0Misc/ImageAnalysisTools/GMM_decoding_GPU_cu_cl.sif"
//singularity.enabled = false
//singularity.autoMounts = true

params {
  outdir = './output'
  reportdir = './reports'
}

docker {
    enabled = true
    temp = 'auto'
}
process.container = "gitlab-registry.internal.sanger.ac.uk/tl10/gmm-decoding:latest"
