process {
  /*maxForks = 30*/
  /*maxRetries = 2*/
  /*maxErrors = '-1'*/

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
}
docker.enabled=true

singularity {
  enabled = false
  runOptions = "--containall"
  autoMounts = true
}
