docker.enabled = false

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--containall"
  /*cacheDir = '/lustre/scratch126/cellgen/team283/NXF_WORK/'*/
}

executor {
    name = 'lsf'
    queueSize = 10
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
    withName: Codebook_conversion {
        queue = "imaging"
    }
    withName: Get_meatdata {
        queue = "imaging"
    }
    withName: Enhance_spots {
    	queue = "gpu-cellgeni"
	    clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
    }
    withName: Call_peaks_in_anchor {
    	queue = "gpu-cellgeni"
	    clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
    }
    withName: Extract_peak_intensities {
    	queue = "imaging"
    }
    withName: Preprocess_peak_profiles {
    	queue = "gpu-cellgeni"
        clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
    }
    withName: Decode_peaks {
    	queue = "imaging"
        errorStrategy = { task.exitStatus in [130,137..140] ? 'retry' : 'terminate
' }
	    maxRetries = 10
	    memory = { 50.GB * task.attempt }
    }
    withName: Filter_decoded_peaks {
    	queue = "imaging"
    }
}
