docker.enabled = false

singularity {
  enabled = true
  autoMounts = false
  runOptions = "--containall"
  /*cacheDir = '/lustre/scratch126/cellgen/team283/NXF_WORK/'*/
}

executor {
    name = 'lsf'
    queueSize = 10
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
    withName: Codebook_conversion {
	cpus = 1
	memory = 1.GB
    	queue = "imaging"
    }

    withName: Get_meatdata {
	cpus = 1
    	memory = 1.GB
    	queue = "imaging"
    }

    withName: Get_meatdata {
	cpus = 1
    	memory = 1.GB
    }

    withName: Call_peaks_in_anchor {
    	queue = "gpu-cellgeni"
	clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
    }

    withName: Extract_peak_intensities {
    	queue = "imaging"
    }

    withName: Preprocess_peak_profiles {
	cpus = 1
    	queue = "gpu-cellgeni"

        clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
    }

    withName: Decode_peaks {
	cpus = 1
    	memory = 10.GB
    	queue = "imaging"
    }
}
